#grider {
  display: flex;
  justify-content: center;
}

#slider {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(34% - 2rem);
  }

@media screen and (max-width: 1000px){
  #slider {
    grid-auto-columns: calc(50% - 2rem);
  }
}

@media screen and (max-width: 700px){
  #slider {
    grid-auto-columns: calc(80%);
  }
}

@media screen and (max-width: 500px){
  #slider {
    grid-auto-columns: calc(100%);
  }
}